extends layout

block content
  .header
    a.left( href="/" )
      img(src="/images/logo.jpg")
      h1#title Jlals Studio
    nav.right
      ul.nav.navbar-nav.center-block
        li: a( href="/contact" ) Contact
        li: a( href="/portfolio" ) Portfolio
        li: a( href="/about") About
  .section
    img.about-img(src="/images/j1.jpg")
    img.about-img(src="/images/j2.jpg")
    p#about 19 year old photographer. Surfer from New York City. Finding the balance between concrete and seascape. Capturing the beauty in the world around us. Shooting film. 