extends layout

block content
  .header
    a.left( href="/" )
      img(src="/images/logo.jpg")
      h1#title Jack Lally
    nav.right
      ul.nav.navbar-nav.center-block
        li: a( href="/contact" ) Contact
        li: a( href="/portfolio" ) Portfolio
        li: a( href="/about") About
  .section
    .contact.mid
      a( href="mailto:lally.jack@gmail.com" )      
        h2 get in touch
  footer.footer-sticky.left
    a( href="https://instagram.com/jlals/" )
     img.connect(src="/images/instagram.png")
    a( href="http://jlals.tumblr.com" ) 
     img.connect(src="/images/tumblr.png")
    p.credits.right site built and designed by
        a( href="mailto:mayaman26@gmail.com" ) Maya Man