extends layout

block content
  .header
    a.left( href="/" )
      img(src="/images/logo.jpg")
      h1#title Jlals Studio
    nav.right
      ul.nav.navbar-nav.center-block
        li: a( href="/contact" ) Contact
        li: a( href="/portfolio" ) Portfolio
        li: a( href="/about") About
    
