doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lightbox.css')
  body
    block content
    footer.footer.left
      a( href="https://instagram.com/jlals/" )
        img.connect(src="/images/instagram.png")
      a( href="https://twitter.com/nevernotmaya" ) 
        img.connect(src="/images/tumblr.png")
  script(src='/javascripts/lightbox-plus-jquery.js')