extends layout

block content
  .header
    a.left( href="/" )
      img(src="/images/logo.jpg")
      h1#title Jack Lally
    nav.right
      ul.nav.navbar-nav.center-block
        li: a( href="/contact" ) Contact
        li: a( href="/portfolio" ) Portfolio
        li: a( href="/about") About
  .section
    .photos
      h2 color
      a( href="images/color/1.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/1.jpg")
      a( href="images/color/2.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/2.jpg")
      a( href="images/color/3.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/3.jpg")
      a( href="images/color/4.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/4.jpg")
      a( href="images/color/5.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/5.jpg")
      a( href="images/color/6.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/6.jpg")
      a( href="images/color/7.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/7.jpg")
      a( href="images/color/8.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/8.jpg")
      a( href="images/color/9.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/9.jpg")
      a( href="images/color/10.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/10.jpg")
      a( href="images/color/11.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/11.jpg")
      a( href="images/color/12.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/12.jpg")
      a( href="images/color/13.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/13.jpg")
      a( href="images/color/14.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/14.jpg")
      a( href="images/color/15.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/15.jpg")
      a( href="images/color/16.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/16.jpg")
      a( href="images/color/17.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/17.jpg")
      a( href="images/color/18.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/18.jpg")
      a( href="images/color/19.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/19.jpg")
      a( href="images/color/20.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/20.jpg")
      a( href="images/color/21.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/21.jpg")
      a( href="images/color/22.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/22.jpg")
      a( href="images/color/23.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/23.jpg")
      a( href="images/color/24.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/24.jpg")
      a( href="images/color/25.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/25.jpg")
      a( href="images/color/26.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/26.jpg")
      a( href="images/color/27.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/27.jpg")
      a( href="images/color/28.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/28.jpg")
      a( href="images/color/29.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/29.jpg")
      a( href="images/color/30.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/30.jpg")
      a( href="images/color/31.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/31.jpg")
      a( href="images/color/32.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/32.jpg")
      a( href="images/color/33.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/33.jpg")
      a( href="images/color/34.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/34.jpg")
      a( href="images/color/35.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/35.jpg")
      a( href="images/color/36.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/36.jpg")
      a( href="images/color/37.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/37.jpg")
      h2 black & white
      a( href="images/bw/bw1.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw1.jpg")
      a( href="images/bw/bw2.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw2.jpg")
      a( href="images/bw/bw3.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw3.jpg")
      a( href="images/bw/bw4.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw4.jpg")
      a( href="images/bw/bw5.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw5.jpg")
      a( href="images/bw/bw6.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/bw/bw6.jpg")
      a( href="images/bw/bw7.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/bw/bw7.jpg")
      a( href="images/bw/bw8.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/bw/bw8.jpg")
      a( href="images/bw/bw10.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/bw/bw10.jpg")
      a( href="images/bw/bw9.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/bw/bw9.jpg")
      a( href="images/bw/bw11.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw11.jpg")
      a( href="images/bw/bw12.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw12.jpg")
      a( href="images/bw/bw13.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw13.jpg")
      a( href="images/bw/bw14.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw14.jpg")
      a( href="images/bw/bw15.jpg" data-lightbox="color" data-title="New York City, NY")
        img(src="/images/bw/bw15.jpg")
      a( href="images/bw/bw16.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/bw/bw16.jpg")
      a( href="images/bw/bw17.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/bw/bw17.jpg")
      a( href="images/bw/bw18.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/bw/bw18.jpg")
      a( href="images/bw/bw19.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/bw/bw19.jpg")
      a( href="images/bw/bw20.jpg" data-lightbox="color" data-title="Ventura, CA")
        img(src="/images/bw/bw20.jpg")
      a( href="images/bw/bw21.jpg" data-lightbox="color" data-title="Ventura, CA")
        img(src="/images/bw/bw21.jpg")
      a( href="images/bw/bw22.jpg" data-lightbox="color" data-title="Ventura, CA")
        img(src="/images/bw/bw22.jpg")
      a( href="images/bw/bw23.jpg" data-lightbox="color" data-title="Ventura, CA")
        img(src="/images/bw/bw23.jpg")
      a( href="images/bw/bw24.jpg" data-lightbox="color" data-title="Ventura, CA")
        img(src="/images/bw/bw24.jpg")
  footer.footer.left
    a( href="https://instagram.com/jlals/" )
     img.connect(src="/images/instagram.png")
    a( href="http://jlals.tumblr.com" ) 
     img.connect(src="/images/tumblr.png")
