extends layout

block content
  .header
    a.left( href="/" )
      img(src="/images/logo.jpg")
      h1#title Jlals Studio
    nav.right
      ul.nav.navbar-nav.center-block
        li: a( href="/contact" ) Contact
        li: a( href="/portfolio" ) Portfolio
        li: a( href="/about") About
  .section
    .photos
      h2 color
      a( href="images/color/1.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/1.jpg")
      a( href="images/color/2.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/2.jpg")
      a( href="images/color/3.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/3.jpg")
      a( href="images/color/4.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/4.jpg")
      a( href="images/color/5.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/5.jpg")
      a( href="images/color/6.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/6.jpg")
      a( href="images/color/7.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/7.jpg")
      a( href="images/color/8.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/8.jpg")
      a( href="images/color/9.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/9.jpg")
      a( href="images/color/10.jpg" data-lightbox="color" data-title="Saltaire, NY")
        img(src="/images/color/10.jpg")
      a( href="images/color/11.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/11.jpg")
      a( href="images/color/12.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/12.jpg")
      a( href="images/color/13.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/13.jpg")
      a( href="images/color/14.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/14.jpg")
      a( href="images/color/15.jpg" data-lightbox="color" data-title="Claremont, CA")
        img(src="/images/color/15.jpg")
      h2 black & white
      a( href="images/bw/bw1.jpg" data-lightbox="bw" data-title="New York City, NY") 
        img(src="/images/bw/bw1.jpg")
      a( href="images/bw/bw2.jpg" data-lightbox="bw" data-title="New York City, NY") 
        img(src="/images/bw/bw2.jpg")
      a( href="images/bw/bw3.jpg" data-lightbox="bw" data-title="New York City, NY") 
        img(src="/images/bw/bw3.jpg")
      a( href="images/bw/bw4.jpg" data-lightbox="bw" data-title="New York City, NY") 
        img(src="/images/bw/bw4.jpg")
      a( href="images/bw/bw5.jpg" data-lightbox="bw" data-title="New York City, NY") 
        img(src="/images/bw/bw5.jpg")
      a( href="images/bw/bw6jpg" data-lightbox="bw" data-title="Claremont, CA") 
        img(src="/images/bw/bw6.jpg")
      a( href="images/bw/bw7.jpg" data-lightbox="bw" data-title="Claremont, CA") 
        img(src="/images/bw/bw7.jpg")
      a( href="images/bw/bw8.jpg" data-lightbox="bw" data-title="Claremont, CA") 
        img(src="/images/bw/bw8.jpg")
      a( href="images/bw/bw9.jpg" data-lightbox="bw" data-title="Claremont, CA") 
        img(src="/images/bw/bw9.jpg")