@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 20px;
  margin: 0;
  max-width: 100%;
  background: url('/images/beach.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}

a {
  color: #00B7FF;
}

h2 {
  /*font-family: 'Lora', serif;*/
  font-family: 'Poiret One', cursive;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header {
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  opacity: .8;
  display: inline-block;
  width: 100%;
}

.header #title {
  margin: 0px;
  font-family: 'Poiret One', cursive;
  color: black;
  text-decoration: none;
  font-size: 2em; 
  border-bottom: 5px solid white;
}

.header a {
  font-family: 'Poiret One', cursive;
  color: black;
  text-decoration: none;
  padding: 0px;
}

.header img {
  width: 80px;
  padding-left: 20px;
}


ul.nav.navbar-nav {
  text-align: center;
  float: none;
  padding: 0;
  margin: 0px;
}

/* 
  //////////////////////////////////////////////////
    NAV
  //////////////////////////////////////////////////
*/

nav {
  padding-top: 40px;
  padding-right: 40px;
}

.navbar-nav>li {
  float: right;
  display: inline-block;
}

.nav > li > a,
.nav > li > a {
  color: black;
  font-size: 3em;
  font-family: 'Poiret One', cursive;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: gray;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
}

/* 
  //////////////////////////////////////////////////
    SECTION
  //////////////////////////////////////////////////
*/

.section {
  background: rgba(255, 255, 255, .8);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  padding: 20px;
  font-family: 'Lora', serif;
  font-size: 1.5em;
}


/* 
  //////////////////////////////////////////////////
    ABOUT
  //////////////////////////////////////////////////
*/

.about-img {
  width: 46%;
  padding-top: 2%;
  padding-bottom: 0;
}

img#left {
  padding-left: 2%;
  padding-right: 2%;
}

img#right {
  padding-right: 2%;
  padding-left: 2%;
}

#about {
  width: 90%;
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
  color: black;
  text-align: center;
  font-size: 1.1em;
}

/* 
  //////////////////////////////////////////////////
    PORTFOLIO
  //////////////////////////////////////////////////
*/

.photos img {
  width: 30%;
  margin: 1.5%;
}

.photos img:hover {
  width: 30%;
  margin: 1.5%;
  opacity: .8;
}

.photos h2 {
  margin: 1.5%;
  border-bottom: 1px solid gray;
}

/* 
  //////////////////////////////////////////////////
    CONTACT
  //////////////////////////////////////////////////
*/

.contact a {
  color: black;
  font-family: 'Lora', serif;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
}

.contact a:hover {
  color: gray;
  opacity: .5;
  font-family: 'Lora', serif;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
}

.contact {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/images/contact.jpg");
  background-size: cover;
  width: auto;
  height: 600px;
  margin: 10px 0 0 10px;
  position: relative;
}

.mid h2 {
  display: block;
  font-weight: 900;
  font-family: 'Lora', serif;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 1.5em;
  transform: translate(-50%, -50%);
}

img.contact-img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


/* 
  //////////////////////////////////////////////////
    FOOTER
  //////////////////////////////////////////////////
*/


.footer-sticky {
  width: 100%;
  height: 5em;
  margin-top: 15px;
  display: block;
  position: absolute;
  bottom: 0;
  padding-left: 2%;
}

.footer, .push {
  width: 100%;
  height: 5em;
  margin-top: 15px;
  display: block;
  position: relative;
  bottom: 0;
  padding-left: 2%;
}

.footer a, .footer-sticky a {
  padding: 10;
  margin: 5px;
}


/* 
  //////////////////////////////////////////////////
    CONNECT
  //////////////////////////////////////////////////
*/

footer img.connect {
  width: 50px;
  height: 50px;
}

footer img.connect:hover {
  width: 50px;
  height: 50px;
  opacity: .6;
}

