@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 20px;
  margin: 0;
  max-width: 100%;
  background: url('/images/beach.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}

a {
  color: #00B7FF;
}

h2 {
  /*font-family: 'Lora', serif;*/
  font-family: 'Poiret One', cursive;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header {
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  opacity: .8;
  display: inline-block;
  width: 100%;
}

.header #title {
  margin: 0px;
  font-family: 'Poiret One', cursive;
  color: black;
  text-decoration: none;
  font-size: 2em; 
  border-bottom: 5px solid white;
}

.header a {
  font-family: 'Poiret One', cursive;
  color: black;
  text-decoration: none;
  padding: 0px;
}

.header img {
  width: 80px;
  padding-left: 20px;
}


ul.nav.navbar-nav {
  text-align: center;
  float: none;
  padding: 0;
  margin: 0px;
}

/* 
  //////////////////////////////////////////////////
    NAV
  //////////////////////////////////////////////////
*/

nav {
  padding-top: 40px;
  padding-right: 40px;
}

.navbar-nav>li {
  float: right;
  display: inline-block;
}

.nav > li > a,
.nav > li > a {
  color: black;
  font-size: 3em;
  font-family: 'Poiret One', cursive;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: gray;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
}

/* 
  //////////////////////////////////////////////////
    SECTION
  //////////////////////////////////////////////////
*/

.section {
  background: rgba(255, 255, 255, .8);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-family: 'Lora', serif;
  font-size: 1.5em;
}


/* 
  //////////////////////////////////////////////////
    ABOUT
  //////////////////////////////////////////////////
*/

.about-img {
  width: 40%;
  padding: 5%;
  padding-bottom: 0;
}

#about {
  width: 90%;
  padding: 5%;
  padding-top: 0;
  color: black;
}

/* 
  //////////////////////////////////////////////////
    PORTFOLIO
  //////////////////////////////////////////////////
*/

.photos img {
  width: 30%;
  margin: 1.5%;
}

.photos h2 {
  margin: 1.5%;
  border-bottom: 1px solid gray;
}

.photos img:hover {
  width: 30%;
  margin: 1.5%;
  opacity: .8;
}


/* 
  //////////////////////////////////////////////////
    FOOTER
  //////////////////////////////////////////////////
*/


.footer, .push {
  width: 100%;
  height: 5em;
  margin-top: 10px;
  display: block;
  position: relative;
  bottom: 0;
  padding-left: 2%;
}

.footer a {
  padding: 10;
  margin: 5px;
}


/* 
  //////////////////////////////////////////////////
    CONNECT
  //////////////////////////////////////////////////
*/

footer img.connect {
  width: 50px;
  height: 50px;
}

footer img.connect:hover {
  width: 50px;
  height: 50px;
  opacity: .6;
}

